:root {
  --background-color: #444;
}

* {
  font-size: 36px;
  text-decoration: none;
  font-weight: bold;
  list-style: none;
}

html {
  background-color: var(--background-color);
}

a {
  color: white;
}

a:active {
  color: green;
}

a:hover {
  transform: scale(1.5);
  transition: 0.3s;
}

.app {
  display: grid;
  grid-template-areas: "links" "add";
}

.big-btn {
  width: 350px;
  margin: 0 0 5px 50px;
}

/*   Links    */
.link-group {
  grid-area: links;
  height: 60vh;
}
.link-list {
  display: flex;
  flex-wrap: wrap;
}

/*   Links    */
.add-links {
  grid-area: add;
}

.link-label {
  display: inline-block;
  width: 150px;
  color: white;
  text-align: right;
  padding-right: 10px;
}

.link-input {
  width: 835px;
}

.form {
  width: 1000px;
}

.form-btns {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.form-btns button {
  margin-left: 20px;
}

.delete {
  color: red;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 50px;
  height: 50px;
}

.delete:active {
  background: black;
}
